# scripts/build-ffmpeg.sh output
/ffmpeg-deps/
/ffmpeg-src/
/build-*/
/ffmpeg-*-*
/ffprobe-*-*
/smoke-*/

# scripts/build-libavif.sh output
/libavif-src/
/avifenc-*-*
/avifdec-*-*

# scripts/build-libjxl.sh output
/libjxl-deps/
/libjxl-src/
/cjxl-*-*
/djxl-*-*
/jxlinfo-*-*
/jxl_from_tree-*-*

# jxl-oxide job output
/jxl-oxide-build/
/jxl-oxide-*-*

# .NET
[Bb]in/
[Oo]bj/
/artifacts/
TestResults/
