name: Build
on:
  push:
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: pwsh

env:
  VERSION: 1.0.17
  PNGOUT_VERSION: 1.0.0 # http://advsys.net/ken/utils.htm#pngout - manual version
  ZOPFLI_VERSION: "1.0.3" # https://github.com/google/zopfli/tags
  OXIPNG_VERSION: "10.0.0" # https://github.com/shssoichiro/oxipng/releases
  FFMPEG_VERSION: "autobuild-2025-12-06-12-54" # https://github.com/BtbN/FFmpeg-Builds/releases
  RCLONE_VERSION: "v1.72.1" # https://github.com/rclone/rclone/releases
  IMAGEMAGICK_VERSION: "7.1.2-9" # https://github.com/ImageMagick/ImageMagick/releases/latest

jobs:
  create-release:
    runs-on: ubuntu-latest
    needs: [versions_json, zopflipng-linux, zopflipng-windows, oxipng-linux, oxipng-windows, ffmpeg-linux, ffmpeg-linux-arm64, ffmpeg-windows, ffmpeg-windows-arm64, pngout-linux, pngout-windows, rclone-windows, rclone-linux, magick-windows]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v6
    - uses: actions/download-artifact@v7
      with:
        pattern: '*'
        path: binaries
        merge-multiple: true
    - run: 'gh release create "${{ env.VERSION }}" --target "${{ github.sha }}" ./binaries/*'
      env:
        GH_TOKEN: ${{ github.token }}

  versions_json:
    runs-on: ubuntu-latest
    steps:
    - run: |
        $versions = @{}
        $versions.Zopfli = "${{ env.ZOPFLI_VERSION }}"
        $versions.Oxipng = "${{ env.OXIPNG_VERSION }}"
        $versions.FFmpeg = "${{ env.FFMPEG_VERSION }}"
        $versions.Pngout = "${{ env.PNGOUT_VERSION }}"
        $versions.Rclone = "${{ env.RCLONE_VERSION }}"
        $versions.ImageMagick = "${{ env.IMAGEMAGICK_VERSION }}"
        ConvertTo-Json $versions | Out-File versions.json
    - uses: actions/upload-artifact@v6
      with:
        name: binaries-versions
        if-no-files-found: error
        retention-days: 1
        path: 'versions.json'

  zopflipng-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        repository: google/zopfli
        ref: zopfli-${{ env.ZOPFLI_VERSION }}
    - run: make zopflipng
    - uses: actions/upload-artifact@v6
      with:
        name: binaries-zopflipng-linux
        if-no-files-found: error
        retention-days: 1
        path: 'zopflipng'

  zopflipng-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6
      with:
        repository: google/zopfli
        ref: zopfli-${{ env.ZOPFLI_VERSION }}
    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.13.0
      with:
        arch: x64
    - run: |
        foreach($item in (Get-ChildItem src\zopfli -Filter *.c -Recurse)) {
          Write-Host "Compiling $item"
          & cl -nologo -O2 /GL /GS- /I$env:CRT_INC_PATH /I. -c /MD /DNDEBUG "$item"
        }

        Write-Host "Linking zopfli.exe"
        & link -nologo /LTCG /OUT:zopfli.exe *.obj user32.lib advapi32.lib kernel32.lib

        Remove-Item zopfli_bin.obj
        foreach($item in (Get-ChildItem src\zopflipng -Filter *.c* -Recurse)) {
          Write-Host "Compiling $item"
          & cl -nologo -O2 /GL /GS- /I$env:CRT_INC_PATH /I. -c /MD /DNDEBUG /EHsc "$item"
        }

        Write-Host "Linking zopflipng.exe"
        & link -nologo /LTCG /OUT:zopflipng.exe *.obj user32.lib advapi32.lib kernel32.lib
    - uses: actions/upload-artifact@v6
      with:
        name: binaries-zopflipng-windows
        if-no-files-found: error
        retention-days: 1
        path: |
          zopfli.exe
          zopflipng.exe

  oxipng-windows:
    runs-on: ubuntu-latest
    steps:
    - run: Invoke-WebRequest -Uri 'https://github.com/shssoichiro/oxipng/releases/download/v${{ env.OXIPNG_VERSION }}/oxipng-${{ env.OXIPNG_VERSION }}-x86_64-pc-windows-msvc.zip' -OutFile oxipng.zip
    - run: Expand-Archive oxipng.zip -DestinationPath .
    - run: Get-ChildItem -Path ".\" -Recurse -Filter "oxipng.exe" | Copy-Item -Destination ".\"
    - uses: actions/upload-artifact@v6
      with:
        name: binaries-oxipng-windows
        if-no-files-found: error
        retention-days: 1
        path: 'oxipng.exe'

  oxipng-linux:
    runs-on: ubuntu-latest
    steps:
    - run: Invoke-WebRequest -Uri 'https://github.com/shssoichiro/oxipng/releases/download/v${{ env.OXIPNG_VERSION }}/oxipng-${{ env.OXIPNG_VERSION }}-x86_64-unknown-linux-musl.tar.gz' -OutFile oxipng.tar.gz
    - run: tar -xvf oxipng.tar.gz
    - run: mv oxipng-*-x86_64-unknown-linux-musl/oxipng oxipng
    - uses: actions/upload-artifact@v6
      with:
        name: binaries-oxipng-linux
        if-no-files-found: error
        retention-days: 1
        path: 'oxipng'

  pngout-windows:
    runs-on: ubuntu-latest
    steps:
    - run: Invoke-WebRequest -Uri 'http://advsys.net/ken/util/pngout.exe' -OutFile pngout.exe
    - uses: actions/upload-artifact@v6
      with:
        name: binaries-pngout-windows
        if-no-files-found: error
        retention-days: 1
        path: pngout.exe

  pngout-linux:
    runs-on: ubuntu-latest
    steps:
    - run: Invoke-WebRequest -Uri 'http://www.jonof.id.au/files/kenutils/pngout-20200115-linux.tar.gz' -OutFile pngout.tar.gz
    - run: tar -xvf pngout.tar.gz
    - run: mv pngout-*/amd64/pngout pngout
    - uses: actions/upload-artifact@v6
      with:
        name: binaries-pngout-linux
        if-no-files-found: error
        retention-days: 1
        path: pngout

  ffmpeg-windows:
    runs-on: ubuntu-latest
    steps:
    - run: |
       $headers = @{
         "User-Agent" = "GitHub Actions"
         "Authorization" = "Bearer ${{ secrets.GITHUB_TOKEN }}"
       }

       $release = Invoke-RestMethod -Method Get -Uri https://api.github.com/repos/BtbN/FFmpeg-Builds/releases/tags/${{ env.FFMPEG_VERSION }} -Headers $headers
       $WindowsAsset = $release.assets | Where-Object { $_.name -cmatch '^ffmpeg-N-.*-win64-gpl.zip$' }
       Invoke-WebRequest -Uri $WindowsAsset.browser_download_url -OutFile ffmpeg.zip
       Expand-Archive ffmpeg.zip -DestinationPath . -Verbose
       Get-ChildItem -Recurse -Include ffmpeg.exe, ffprobe.exe | Foreach-Object { Move-Item -LiteralPath $_ -Destination . }
    - uses: actions/upload-artifact@v6
      with:
        name: binaries-ffmpeg-windows
        if-no-files-found: error
        retention-days: 1
        path: |
           ffmpeg.exe
           ffprobe.exe

  ffmpeg-windows-arm64:
    runs-on: ubuntu-latest
    steps:
    - run: |
       $headers = @{
         "User-Agent" = "GitHub Actions"
         "Authorization" = "Bearer ${{ secrets.GITHUB_TOKEN }}"
       }

       $release = Invoke-RestMethod -Method Get -Uri https://api.github.com/repos/BtbN/FFmpeg-Builds/releases/tags/${{ env.FFMPEG_VERSION }} -Headers $headers
       $WindowsAsset = $release.assets | Where-Object { $_.name -cmatch '^ffmpeg-N-.*-winarm64-gpl.zip$' }
       Invoke-WebRequest -Uri $WindowsAsset.browser_download_url -OutFile ffmpeg.zip
       Expand-Archive ffmpeg.zip -DestinationPath . -Verbose
       Get-ChildItem -Recurse -Include ffmpeg.exe, ffprobe.exe | Foreach-Object { Move-Item -LiteralPath $_ -Destination . }
       Move-Item ffmpeg.exe ffmpeg-arm64.exe
       Move-Item ffprobe.exe ffprobe-arm64.exe
    - uses: actions/upload-artifact@v6
      with:
        name: binaries-ffmpeg-windows-arm64
        if-no-files-found: error
        retention-days: 1
        path: |
           ffmpeg-arm64.exe
           ffprobe-arm64.exe

  ffmpeg-linux:
    runs-on: ubuntu-latest
    steps:
    - run: |
       $headers = @{
         "User-Agent" = "GitHub Actions"
         "Authorization" = "Bearer ${{ secrets.GITHUB_TOKEN }}"
       }

       $release = Invoke-RestMethod -Method Get -Uri https://api.github.com/repos/BtbN/FFmpeg-Builds/releases/tags/${{ env.FFMPEG_VERSION }} -Headers $headers
       $LinuxAsset = $release.assets | Where-Object { $_.name -cmatch '^ffmpeg-N-.*-linux64-gpl.tar.xz$' }
       Invoke-WebRequest -Uri $LinuxAsset.browser_download_url -OutFile ffmpeg.tar.xz
       tar -xvf ffmpeg.tar.xz
       mv ffmpeg-N-*-linux64-gpl/bin/ffmpeg ffmpeg
       mv ffmpeg-N-*-linux64-gpl/bin/ffprobe ffprobe
    - uses: actions/upload-artifact@v6
      with:
        name: binaries-ffmpeg-linux
        if-no-files-found: error
        retention-days: 1
        path: |
           ffmpeg
           ffprobe

  ffmpeg-linux-arm64:
    runs-on: ubuntu-latest
    steps:
    - run: |
       $headers = @{
         "User-Agent" = "GitHub Actions"
         "Authorization" = "Bearer ${{ secrets.GITHUB_TOKEN }}"
       }

       $release = Invoke-RestMethod -Method Get -Uri https://api.github.com/repos/BtbN/FFmpeg-Builds/releases/tags/${{ env.FFMPEG_VERSION }} -Headers $headers
       $LinuxAsset = $release.assets | Where-Object { $_.name -cmatch '^ffmpeg-N-.*-linuxarm64-gpl.tar.xz$' }
       Invoke-WebRequest -Uri $LinuxAsset.browser_download_url -OutFile ffmpeg.tar.xz
       tar -xvf ffmpeg.tar.xz
       mv ffmpeg-N-*-linuxarm64-gpl/bin/ffmpeg ffmpeg-arm64
       mv ffmpeg-N-*-linuxarm64-gpl/bin/ffprobe ffprobe-arm64
    - uses: actions/upload-artifact@v6
      with:
        name: binaries-ffmpeg-linux-arm64
        if-no-files-found: error
        retention-days: 1
        path: |
           ffmpeg-arm64
           ffprobe-arm64

  rclone-windows:
    runs-on: ubuntu-latest
    steps:
    - run: |
       $headers = @{
         "User-Agent" = "GitHub Actions"
         "Authorization" = "Bearer ${{ secrets.GITHUB_TOKEN }}"
       }

       $release = Invoke-RestMethod -Method Get -Uri https://api.github.com/repos/rclone/rclone/releases/tags/${{ env.RCLONE_VERSION }} -Headers $headers
       $WindowsAsset = $release.assets | Where-Object { $_.name -cmatch '^rclone-.*-windows-amd64.zip$' }
       Invoke-WebRequest -Uri $WindowsAsset.browser_download_url -OutFile rclone.zip
       Expand-Archive rclone.zip -DestinationPath . -Verbose
       Get-ChildItem -Recurse -Include rclone.exe | Foreach-Object { Move-Item -LiteralPath $_ -Destination . }
    - uses: actions/upload-artifact@v6
      with:
        name: binaries-rclone-windows
        if-no-files-found: error
        retention-days: 1
        path: rclone.exe

  rclone-linux:
    runs-on: ubuntu-latest
    steps:
    - run: |
       $headers = @{
         "User-Agent" = "GitHub Actions"
         "Authorization" = "Bearer ${{ secrets.GITHUB_TOKEN }}"
       }

       $release = Invoke-RestMethod -Method Get -Uri https://api.github.com/repos/rclone/rclone/releases/tags/${{ env.RCLONE_VERSION }} -Headers $headers
       $LinuxAsset = $release.assets | Where-Object { $_.name -cmatch '^rclone-.*-linux-amd64.zip$' }
       Invoke-WebRequest -Uri $LinuxAsset.browser_download_url -OutFile rclone.zip
       Expand-Archive rclone.zip -DestinationPath . -Verbose
       Get-ChildItem -Recurse -Include rclone | Foreach-Object { Move-Item -LiteralPath $_ -Destination . }
    - uses: actions/upload-artifact@v6
      with:
        name: binaries-rclone-linux
        if-no-files-found: error
        retention-days: 1
        path: rclone

  magick-windows:
    runs-on: ubuntu-latest
    steps:
    - run: Invoke-WebRequest -Uri 'https://imagemagick.org/archive/binaries/ImageMagick-${{ env.IMAGEMAGICK_VERSION }}-portable-Q16-HDRI-x64.7z' -OutFile ImageMagick.7z
    - run: 7z x ImageMagick.7z
    - uses: actions/upload-artifact@v6
      with:
        name: binaries-imagemagick-windows
        if-no-files-found: error
        retention-days: 1
        path: magick.exe

